<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>ACST Administrativo - Vendas</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="row">
			<div class="col-2">
				<a href="/administrativo/venda/listar" class="btn btn-outline-dark" role="button" aria-disabled="true"><i class="bi bi-box-arrow-left"></i></a>
			</div>
			<div class="col-10" style="text-align: end;">
				<h3>Lista de Itens da Venda</h3>
			</div>
		</div>	        
		<br/>
		

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
				<tr>
					<th>#</th>
					<th>Produto</th>
					<th>Quantidade</th>
					<th>Valor</th>
					<th>Valor com Desconto</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${itens}">
						<td th:text="${item.id}"></td>
						<td th:text="${item.produto.nomeCompletoProduto}"></td>
						<td th:text="${item.quantidade}"></td>
						<td th:text="${#numbers.formatCurrency(item.total)}"></td>
						<td th:text="${#numbers.formatCurrency(item.totalComDesconto)}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
	</section>
</body>
</html>		