<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>ACST Administrativo - Funcionários</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="row" >
			<div class="col-2">
				<a class="btn btn-outline-dark" href="/administrativo/funcionarios/cadastrar" role="button"><span class="bi bi-person-plus-fill" title="Adicionar Funcionário" aria-hidden="true"></span>
				</a>
			</div>
			<div class="col-10" style="text-align: end;">
				<h3>Lista de Funcionários</h3>
			</div>

		</div>
		<br/>

		<div class="row">

			<div class="col-6">
				
				<form action="/administrativo/funcionarios/buscar/nome" method="GET">

					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Nome do funcionário" aria-label="SearchDocument" name="nome" aria-describedby="button-addon2">
						<button type="submit" class="btn btn-outline-secondary"><span class="bi bi-search"></span></button>
						
					</div>
		
				</form>

			</div>
			<div class="col-6">
				<form action="/administrativo/funcionarios/buscar/cpf" method="GET">

					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="CPF do funcionário" aria-label="SearchDocument" name="cpf" aria-describedby="button-addon2">
						<button type="submit" class="btn btn-outline-secondary"><span class="bi bi-search"></span></button>
						
					</div>
		
				</form>
			</div>

		</div>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Cargo</th>
					<th>Ação</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="funcionario : ${listaFuncionarios}">
						<td th:text="${funcionario.id}"></td>
						<td th:text="${funcionario.nome}"></td>
						<td th:text="${funcionario.cargo}"></td>

						<td colspan="2"><a class="btn btn-outline-primary" th:href="@{/administrativo/funcionarios/editar/{id}(id=${funcionario.id})}" role="button"><span class="bi bi-pencil-fill" title="Editar" aria-hidden="true"></span>
						</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</section>
</body>
</html>		