<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{administrativo/fragments/layout}">
<head>
<title>ACST Administrativo - Permissões</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="row">
			<div class="col-12" style="text-align: end;">
				<h3>Permissões</h3>
			</div>
		</div>
		<br/>

		<form action="/administrativo/funcionarios/permissoes/salvar" th:object="${funcionario}" method="POST">
			
			<div class="row" >

				<div class="col-6">
					<label>Funcionário</label> 
					<select class="form-select" name="funcionarioId" autofocus="autofocus" required>
						<option value="" >Selecione</option>
						<option th:each="fun: ${listaFuncionarios}" th:value="${fun.id}" th:text="${fun.nome}"></option>
					</select>
				</div>

				<div class="col-5">
					<label>Papel</label> 
					<select class="form-select" name="roleId" required>
						<option value="" >Selecione</option>
						<option th:each="role: ${listaRoles}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
					</select>
				</div>

				<div class="col-1"><br/><button type="submit" name="acao" th:value="salvar" class="btn btn-outline-primary"><i class="bi bi-check-lg"></i></button></div>

			</div>
			
			<br/>
		</form>
		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm" >
				<thead>
				<tr>
					<th>Funcionario</th>
					<th>Ação</th>
					<th>Papel</th>
					<th></th>
					
				</tr>
				</thead>
				<tbody>
					<tr th:each="func : ${listaFuncionarios}">
						<td th:text="${func.nome}"></td>
						<td><a class="btn btn-outline-danger" th:href="@{/administrativo/funcionarios/permissoes/editar/{id}(id=${func.id})}" role="button"><span class="bi bi-trash3" title="Editar" aria-hidden="true"></span>
						</a>
						</td>
						<td th:each="role : ${func.roles}" th:text="${role.roleName}"></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>		
		
	</section>
</body>
</html>	