<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>Página de Cadastro de Produtos do Administrativo</title>
</head>
<body>
	<section layout:fragment="corpo">

		<div class="row">

			<div class="col-2">
				<a class="btn btn-outline-dark" href="/administrativo/produtos/listar" role="button"><span class="bi bi-list-ul" title="Listar Produtos" aria-hidden="true"></span>
				</a>
			</div>

			<div class="col-10" style="text-align: end;">
				<h3>Editar Produto</h3>
			</div>
			
		</div>
		<br/>
		

		<form action="/administrativo/produtos/salvar" enctype="multipart/form-data" th:object="${produto}" method="POST">

			<div class="row">

				<div class="col-12">
					<label for="nome">Nome do Produto</label>
					<input type="text" class="form-control" id="nome" placeholder="Nome"
							autofocus="autofocus" th:field="*{nomeProduto}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>

			</div>
			
			<div class="row">

				<div class="col-6">
					<label for="tamanhoProduto">Tamanho</label>
					<select id="tamanhoProduto" class="form-control" th:field="*{tamanhoProduto}">
						<option value="">Selecione...</option>
						<option value="P">P</option>
						<option value="M">M</option>
						<option value="G">G</option>
					</select>
					<div class="invalid-feedback">

					</div>
				</div>

				<div class="col-6">
					<label for="valorProduto">Valor</label>
					<input type="text" class="form-control" id="valorProduto" th:field="*{valorProduto}" data-mask="###.0"
					data-mask-reverse="true"value=""/>
					<div class="invalid-feedback">

					</div>
				</div>

			</div>
			<br/>
			<div class="row">
				<div class="col-12">
					Foto do Produto
					<input type="file" name="arquivo" accept="image/png, image/jpeg"/>
				</div>
			
			</div>
			<br/>
			<div class="row">	

				<div class="col-6">
					<label for="alturaProduto">Altura (Cm)</label>
					<input type="text" class="form-control" id="alturaProduto" data-mask="##0.00"
							data-mask-reverse="true" th:field="*{alturaProduto}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>

				<div class="col-6">
					<label for="larguraProduto">Largura (Cm)</label>
					<input type="text" class="form-control" id="larguraProduto" data-mask="##0.00"
							data-mask-reverse="true" th:field="*{larguraProduto}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>

			</div>
			<div class="row">

				<div class="col-6">
					<label for="profundidadeProduto">Profundidade (Cm)</label>
					<input type="text" class="form-control" id="profundidadeProduto" data-mask="##0.00"
							data-mask-reverse="true" th:field="*{profundidadeProduto}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>

				<div class="col-6">
					<label for="pesoProduto">Peso (Kgs)</label>
					<input type="text" class="form-control" id="pesoProduto" data-mask="##0.00"
							data-mask-reverse="true" th:field="*{pesoProduto}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>

			</div>
				
			<br/>

			<input type="hidden" th:field="*{nomeImagem}">
			<input type="hidden" id="id" th:field="*{id}" value=""/>
			<button type="submit" class="btn btn-outline-primary" style="margin-top: 10px; width: 100%;">Salvar</button>
			
		</form>
		
	</section>
</body>
</html>		