<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>ACST Administrativo - Produtos</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="row">
			
			<div class="col-2">
				
				<a class="btn btn-outline-dark" data-toggle="modal" data-target=".bd-example-modal-lg" href="#modalCadastro" rel="modal:open" role="button" title="Novo Produto"><span class="bi bi-plus-lg"></span>

				</a>

				<div class="modal bd-example-modal-lg" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<h3>Novo Produto</h3>
						<div class="modal-content">
						
							<div class="form" id="cadastro" style="margin: 10px;">

								<form action="/administrativo/produtos/salvar" enctype="multipart/form-data" method="POST">

									<div class="row">
					
										<div class="col-12">
											<label for="nome">Nome do Produto</label>
											<input type="text" class="form-control" name="nomeProduto" placeholder="Nome"
													autofocus="autofocus"  value="" required/>
											<div class="invalid-feedback">
					
											</div>
										</div>
					
									</div>
									
									<div class="row">
										<div class="col-6">
											<label for="tamanhoProduto">Tamanho</label>
											<select id="tamanhoProduto" class="form-select" name="tamanhoProduto">
												<option value="">Selecione...</option>
												<option value="P">P</option>
												<option value="M">M</option>
												<option value="G">G</option>
												<option value="U">U</option>
												<option value="A4">A4</option>
												<option value="A3">A3</option>
											</select>
											<div class="invalid-feedback">
					
											</div>
										</div>
					
										<div class="col-6">
											<label for="valorProduto">Valor</label>
											<input type="number" class="form-control" name="valorProduto" data-mask="###.00"
											data-mask-reverse="true" step="0.01" value="" required/>
											<div class="invalid-feedback">
					
											</div>
										</div>
									</div>
									<div class="row" >
					
										<div class="col-6">
											<label for="alturaProduto">Altura (Cm)</label>
											<input type="number" class="form-control" name="alturaProduto" data-mask="##0.00"
													data-mask-reverse="true" step="0.01" value=""/>
											<div class="invalid-feedback">
					
											</div>
										</div>
					
										<div class="col-6">
											<label for="larguraProduto">Largura (Cm)</label>
											<input type="number" class="form-control" name="larguraProduto" data-mask="##0.00"
													data-mask-reverse="true" step="0.01" value=""/>
											<div class="invalid-feedback">
					
											</div>
										</div>
									</div>
									<div class="row">
					
										<div class="col-6">
											<label for="profundidadeProduto">Profundidade (Cm)</label>
											<input type="number" class="form-control" name="profundidadeProduto" data-mask="##0.00"
													data-mask-reverse="true" step="0.01" value=""/>
											<div class="invalid-feedback">
					
											</div>
										</div>
					
										<div class="col-6">
											<label for="pesoProduto">Peso (Kgs)</label>
											<input type="number" class="form-control" name="pesoProduto" data-mask="##0.00"
													data-mask-reverse="true" step="0.01" value=""/>
											<div class="invalid-feedback">
					
											</div>
										</div>
									</div>
									<div class="row">
					
										<div class="col-6">
											Foto do Produto
											<input type="file" name="arquivo" required/>
										</div>
					
									</div>
										
									<br/>
					
									<input type="hidden" id="id"  value=""/>
									<button type="submit" class="btn btn-outline-primary" style="margin-top: 10px; width: 100%;">Salvar</button>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-10" style="text-align: end;">
				<h3>Lista de Produtos</h3>
			</div>

		</div>

		<br/>

		<div class="row">

			<div class="col-12">
				
				<form action="/administrativo/produtos/buscar/nome" method="GET">
	
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Nome do produto" aria-label="SearchDocument" name="nome" aria-describedby="button-addon2">
						<button type="submit" class="btn btn-outline-secondary"><span class="bi bi-search"></span></button>
						
					</div>
		
				</form>
	
			</div>

		</div>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Tamanho</th>
					<th>Valor</th>
					<th>Estoque</th>
					<th>Imagem</th>
					<th>Ação</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="produto : ${listaProdutos}">
						<td th:text="${produto.id}"></td>
						<td th:text="${produto.nomeProduto}"></td>
						<td th:text="${produto.tamanhoProduto}"></td>
						<td th:text="${#numbers.formatCurrency(produto.valorProduto)}"></td>
						<td th:text="${produto.quantEstoque}"></td>
						<td><img th:src="@{/administrativo/produtos/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}" width="100"></td>

						<td colspan="2"><a class="btn btn-outline-primary" th:href="@{/administrativo/produtos/editar/{id}(id=${produto.id})}" role="button"><span class="bi bi-pencil-fill" title="Editar" aria-hidden="true"></span>
						</a>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</section>
</body>
</html>