<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>ACST Administrativo - Entradas</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="row">

			<div class="col-2">
				<a class="btn btn-outline-dark" href="/administrativo/entrada/cadastrar" role="button" title="Nova Entrada">
					<span class="bi bi-plus-lg"></span>
				</a>
			</div>
			<div class="col-10" style="text-align: end;">
				<h3>Lista de Entradas de Produtos</h3>
			</div>
			
		</div>
		<br/>
		
		<div class="row">

			<div class="col-2">
				
				<form action="/administrativo/entrada/buscar/data" method="GET">
	
					<div class="input-group mb-3">
						<input type="date" class="form-control" autofocus="autofocus" aria-label="SearchDate" name="date" aria-describedby="button-addon2">
						<button type="submit" class="btn btn-outline-secondary"><span class="bi bi-search"></span></button>
						
					</div>
		
				</form>
	
			</div>

		</div>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
				<tr>
					<th>#</th>
					<th>Funcionario</th>
					<th>Data</th>
					<th>Produto</th>
					<th>Quantidade</th>
					<th>Obs</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="entrada : ${listaProdutos}">
						<td th:text="${entrada.entradaProduto.id}"></td>
						<td th:text="${entrada.entradaProduto.funcionario.nome}"></td>
						<td th:text="${#dates.format(entrada.entradaProduto.dataEntrada, 'dd-MM-yyyy HH:mm')}"></td>
						<td th:text="${entrada.produto.nomeCompletoProduto}"></td>
						<td th:text="${entrada.quantidade}"></td>
						<td th:text="${entrada.observacao}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</section>
</body>
</html>		