<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>Página Lista de Clientes do Administrativo</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="row">
			
            <div class="col-3">
				<a class="btn btn-outline-dark" href="/administrativo/clientes/listar" role="button"><span class="bi bi-person-lines-fill" title="Listar Clientes" aria-hidden="true"></span>
				</a>
                <a class="btn btn-outline-dark" href="/administrativo/clientes/cadastrar" role="button"><span class="bi bi-person-plus-fill" title="Adicionar Cliente" aria-hidden="true"></span>
				</a>
			</div>

			<div class="col-9" style="text-align: end;">
				<h3>Lista de Clientes</h3>
			</div>
		
		</div>
		<br/>

		<div class="row">

			<div class="col-6">
				
				<form action="/administrativo/clientes/buscar/nome" method="GET">

					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Nome do cliente" aria-label="SearchDocument" name="nome" aria-describedby="button-addon2">
						<button type="submit" class="btn btn-outline-secondary"><span class="bi bi-search"></span></button>
						
					</div>
		
				</form>

			</div>
			<div class="col-6">
				<form action="/administrativo/clientes/buscar/documento" method="GET">

					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Documento do cliente" aria-label="SearchDocument" name="documento" aria-describedby="button-addon2">
						<button type="submit" class="btn btn-outline-secondary"><span class="bi bi-search"></span></button>
						
					</div>
		
				</form>
			</div>

		</div>
		


		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Documento</th>
					<th>Ação</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${listaClientes}">
						<td th:text="${cliente.id}"></td>
						<td th:text="${cliente.nome}"></td>
						<td th:text="${cliente.documento}"></td>

						<td colspan="2"><a class="btn btn-outline-primary" th:href="@{/administrativo/clientes/editar/{id}(id=${cliente.id})}" role="button"><span class="bi bi-pencil-fill" title="Editar" aria-hidden="true"></span>
						</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</section>
</body>
</html>		