<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>Página de Cadastro de Clientes do Administrativo</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="row">

			<div class="col-2">
				<a class="btn btn-outline-dark" href="/administrativo/clientes/listar" role="button">
					<span class="bi bi-person-lines-fill"></span>
				</a>
			</div>

			<div class="col-10" style="text-align: end;">
				<h3>Novo Cliente</h3>
			</div>
			
		</div>
		<br/>
		

		<form action="/administrativo/clientes/salvar" th:object="${cliente}" method="POST">

			<div class="row">

				<div class="col-12">
					<label for="nome">Nome do Cliente</label>
					<input type="text" class="form-control" id="nome" placeholder="Nome Completo"
						autofocus="autofocus" th:field="*{nome}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>
			
			</div>
			<div class="row">
				<div class="col-6">
					<label for="documento">Documento</label>
					<input type="text" class="form-control" id="documento" th:field="*{documento}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>
				<div class="col-6">
					<label for="telefone">Telefone</label>
					<input type="tel" class="form-control" id="telefone" th:field="*{telefone}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-6">
					<label for="dataNascimento">Nascimento</label>
					<input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>

				<div class="col-6">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" th:field="*{email}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-12">
					<label for="endereco">Endereço</label>
					<input type="text" class="form-control" id="endereco"
						autofocus="autofocus" th:field="*{endereco}" value=""/>
					<div class="invalid-feedback">

					</div>
				</div>

			</div>

			<input type="hidden" id="id" th:field="*{id}" value=""/>
			
			<br/>
			<button type="submit" class="btn btn-outline-primary" style="width: 100%;">Salvar</button>
			
		</form>

	</section>
</body>
</html>		