<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
	<title>Página para Editar Clientes do Administrativo</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div class="row" id="title">
			<div class="col-10">
				<h3>Editar Cliente</h3>
			</div>
			<div class="col-2">
				<a class="btn btn-outline-dark" href="/administrativo/clientes/listar" role="button">
					<span>Listar Clientes</span>
				</a>
			</div>
		</div>
		<br/>
		<div class="row" id="cadastro">

			<form action="/administrativo/clientes/salvar" th:object="${cliente}" method="POST">

				<div class="row">

					<div class="col-8">
						<label for="nome">Nome do Cliente</label>
						<input type="text" class="form-control" id="nome" placeholder="Nome Completo"
							autofocus="autofocus" th:field="*{nome}" value=""/>
						<div class="invalid-feedback">

						</div>
					</div>
					
					<div class="col-3">
						<label for="documento">Documento</label>
						<input type="text" class="form-control" id="documento" th:field="*{documento}" value=""/>
						<div class="invalid-feedback">

						</div>
					</div>
				
				</div>
				<div class="row">
					<div class="col-3">
						<label for="telefone">Telefone</label>
						<input type="text" class="form-control" id="telefone" th:field="*{telefone}" value=""/>
						<div class="invalid-feedback">

						</div>
					</div>

					<div class="col-3">
						<label for="dataNascimento">Data de Nascimento</label>
						<input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}" value=""/>
						<div class="invalid-feedback">

						</div>
					</div>

					<div class="col-5">
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" th:field="*{email}" value=""/>
						<div class="invalid-feedback">

						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-11">
						<label for="endereco">Endereço</label>
						<input type="text" class="form-control" id="endereco"
							autofocus="autofocus" th:field="*{endereco}" value=""/>
						<div class="invalid-feedback">

						</div>
					</div>

				</div>

				<input type="hidden" id="id" th:field="*{id}"/>
				
				<br/>
				<button type="submit" class="btn btn-outline-primary" style="width: 91.5%;">Salvar</button>
				<br/>
				<br/>

				<a class="btn btn-outline-danger" id="botaoExcluir" href="#caixa" rel="modal:open" role="button">Excluir

				</a>

				<div id="caixa" class="modal">
					<p>Tem certeza que deseja excluir?</p>
					<a class="modalButton" th:href="@{/administrativo/clientes/listar}">Não</a>
					<a class="modalButton" th:href="@{/administrativo/clientes/remover/{id}(id=${id})}">Sim</a>
				</div>
			</form>

		</div>
	</section>
</body>
</html>		