body {
    width: 100%;
}

.layout-content {
    padding: 2%;
}

#title {
    color: #000;
    margin-left: 5%;
}

#cadastro {
    margin-left: 5%;
}

#modalCadastro {
    height: 80%;
    margin-top: 80px;
    margin-left: 500px;
}

#modalEditar {
    height: 80%;
    margin-top: 80px;
    margin-left: 500px;
}

#caixa {
    display:none;
    vertical-align:middle;
    position:relative;
    max-width:500px;
    height: 100px;
    box-sizing:border-box;
    width:90%;
    background:#fff;
    padding:15px 30px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -o-border-radius:8px;
    -ms-border-radius:8px;
    border-radius:8px;
    -webkit-box-shadow:0 0 10px #000;
    -moz-box-shadow:0 0 10px #000;
    -o-box-shadow:0 0 10px #000;
    -ms-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px #000;
    text-align:left;
    margin-right: 20px;
}

#caixaBotao {
    float: right;
    top: -10px;
    margin-right: 10px;
    width: 40px;
    height: 30px;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    background: #1e94d2;
    border: 2px solid #030303;
    -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
  }


  /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: #777777;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: black;
    color: white;
  }

  ul {
    display: none;
  }

/*
 * Footer
 */
.layout-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	height: 50px;
}

.footer-copy {
	font-size: 92%;
	display: block;
	color: #777777;
	text-align: center;
}

