<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Página Administrativa</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="" />
	<!--caixa modal -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
</head>
<body>

	<!-- Top Navigation Menu -->
	<div class="topnav">
	<a href="/administrativo" class="active"><h2>Painel Administrativo</h2></a>
	<!-- Navigation links (hidden by default) -->
	<div id="myLinks">

		<a href="/administrativo/clientes/listar" class="nav-link dropdown-item" >
			Clientes
		</a>
		<a class="nav-link dropdown-item" href="/administrativo/funcionarios/listar" >
			Funcionários
		</a>
			
			<a href="javascript:void(0);" class="bt1 nav-link dropdown-toggle" onclick="itens('produtos')" >
				Produtos
			</a>
			<ul id="produtosItens">
				<li><a class="nav-link dropdown-item" href="/administrativo/produtos/listar">Listar Produtos</a></li>
				<li><a class="nav-link dropdown-item" href="/administrativo/entrada/listar">Entradas de Produtos</a></li>
			</ul>
			<a href="javascript:void(0);" class="bt1 nav-link dropdown-toggle" onclick="itens('vendas')" >
				Vendas
			</a>
			<ul id="vendasItens">
				<li><a class="nav-link dropdown-item" href="/administrativo/venda/cadastrar">Nova venda</a></li>
				<li><a class="nav-link dropdown-item" href="/administrativo/venda/listar">Lista de vendas</a></li>
			</ul>
			<a href="javascript:void(0);" class="bt1 nav-link dropdown-toggle" onclick="itens('financeiro')" >
				Financeiro
			</a>
			<ul id="financeiroItens">
				<li><a class="nav-link dropdown-item" href="/administrativo/despesas/cadastrar">Despesas</a></li>
				<li><a class="nav-link dropdown-item" href="/administrativo/financeiro">Controle</a></li>
			</ul>
	</div>
	<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
	<a href="javascript:void(0);" class="icon" onclick="menu()">
		<i class="fa fa-bars"></i>
	</a>
	</div>

		<section class="layout-content" layout:fragment="corpo">
			Principal
		</section>

	</div>
	<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2023 ACST. Todos os direitos reservados.</span>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript">

		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function(){
		    $(".navbar-toggle").click(function(){
		        $(".sidebar").toggleClass("sidebar-open");
		    })
		});

		$(document). read(function associaInput() {
			var variavel;
			//pega o value do select
			var e = document.getElementById("tipo_entrada");
			var itemSelecionado = e.options[e.selectedIndex].value;
			//injeta no value do input
			if (itemSelecionado=="produto novo"){
				variavel="NOVO";
			}else if (itemSelecionado=="produto quebrado"){
				variavel="QUEBRADO";
			}
			document.getElementById('camada').value = variavel;
			console.log(variavel);
		});

		function menu() {
			var x = document.getElementById("myLinks");
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}

		function itens(id) {

			let list = [];

			switch (id) {
				case "produtos":
					y = document.getElementById("produtosItens");
					a = document.getElementById("vendasItens");
					b = document.getElementById("financeiroItens");
				break;
				case "vendas":
					y = document.getElementById("vendasItens");
					a = document.getElementById("produtosItens");
					b = document.getElementById("financeiroItens");
				break;
				case "financeiro":
					y = document.getElementById("financeiroItens");
					a = document.getElementById("produtosItens");
					b = document.getElementById("vendasItens");
				break;
				default:
					break;
			}
			if (y.style.display === "block") {
				y.style.display = "none";
			} else {
				y.style.display = "block";
				a.style.display = "none";
				b.style.display = "none";
			}
		}

	</script>
</body>
</html>
